.ltr{
    transform: translateX(-40px);
    opacity: 0;
    transition: all 1s ease 0s;
}
.ltr.on{
    transform: translateX(0);
    opacity: 1;
}
.blur{
    filter: blur(50px);
    opacity: 0;
    transition: all .8s ease 0s;
}
.blur.on{
    filter: blur(0px);
    opacity: 1;
}
/* 기본 상태: 아래로 40px 내려가 있고 투명함 */
.btt {
    transform: translateY(40px);
    opacity: 0;
    transition: all 1s ease 0s;
}

/* 활성화 상태: 제자리(0)로 올라오면서 선명해짐 */
.btt.on {
    transform: translateY(0);
    opacity: 1;
}

.intro-txt>.ltr{ transition-delay: 0.1s; }
span>.ltr{ transition-delay: 0.2s;}
h1.btt{ transition-delay: 0.2s;}
